{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="icon" href="static/img/icon_salao.jpg" sizes="32x32" type="image/png">
    <title>Cadastro de Serviços - Belleza Pura</title>
</head>
<body>
<div class="container">
    <!-- SIDEBAR -->
    <aside class="sidebar">

        <div class="logo">
            <i class="fas fa-cut"></i>
            <span>Belleza Pura</span>  
        </div>
        <nav class="nav">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a>
            <a href="{% url 'agendamentos' %}"><i class="fas fa-chart-line"></i> <span>Horarios</span></a>
            <a href="{% url 'clientes' %}"><i class="fas fa-user"></i> <span>Clientes</span></a>
            <a href="{% url 'equipe' %}"><i class="fas fa-users"></i> <span>Funcionários</span></a>
            <a href="{% url 'servicos' %}"><i class="fas fa-scissors"></i> <span>Serviços</span></a>
            <a href="{% url 'relatorio' %}"><i class="fas fa-chart-line"></i> <span>Relatórios</span></a>
        </nav>
        <a href="https://github.com/UalaceVGC" class="logout"><i class="fas fa-sign-out-alt"></i><img width="50" height="50" src="https://img.icons8.com/material-outlined/24/github.png" alt="github"/></a>

    </aside>

    <!-- CONTEÚDO PRINCIPAL -->
    <main class="main-content">
        <div class="window-all">
                <div class="form-container">
                    <div class="window-title">
                        <h1>Cadastrar Serviços</h1>
                        <p>Preencha os campos abaixo para cadastrar um serviço.</p>
                    </div>

                    <div>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    
                    <h2>Dados do Serviço</h2>
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="nome_completo">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="descricao">Descrição:</label>
                            <textarea class="form-control" id='descricao' name='descricao' rows="3" required></textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="duracao">Duração:</label>
                            <input type="text" class="form-control" id="duracao" name="duracao" placeholder="00:00:00" required>
                            <span style="font-size: 13px; font-style: italic; margin-top:10px;">Formato: HH:MM:SS</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="preco">Precificação:</label>
                            <input type="number" class="form-control" id="preco" name="preco" placeholder="R$00,00" pattern="\d{2},\d{2}" required>
                            <span style="font-size: 13px; font-style: italic; margin-top:10px;">Formato: XX.XX</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>    
            </div>
        </div>
    </main>
</body>
</html>